@import "tailwindcss";

@theme {
  --color-primary: #1A2E1A;   /* Verde Bosque */
  --color-secondary: #EAB308; /* Amarillo Dorado */
  --color-bg-soft: #F2F4F2;   /* Gris Verdoso Suave */

  --font-display: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-bg-soft text-primary font-display antialiased;
  }
}