@import url('https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #013333;
  --color-secondary: #e0bb44;
  --color-light-green: #ddeee5;

  --font-display: "Outfit", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-light-green text-primary font-display antialiased;
  }
}
